APP_ENV=development
SECRET_KEY=replace-with-a-long-random-value
ADMIN_USERNAME=andy
ADMIN_PASSWORD_HASH=replace-with-output-from-flask-hash-password
DATABASE_PATH=instance/database.db
SITE_URL=http://127.0.0.1:5000
YOUTUBE_CHANNEL_ID=UCL6USkBdRjEeOpeLo2Lq9aA
YOUTUBE_CHANNEL_URL=https://www.youtube.com/@AndyJingLiu
TRUST_PROXY=false
TRUSTED_HOSTS=127.0.0.1,localhost
